@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

:root {
    --color1: #ff4a4a;
    --color2: #ebe8e8;
    --color3: #615c5c;
}

/* NAVBAR */
#navbar {
    text-align: center;
    padding: 1em;
    position: relative;
    border-bottom: 1px solid #615c5c;
}

#navbar .bi-three-dots-vertical {
    position: absolute;
    right: 8px;
    top: 16px;
    font-size: 1.5rem;
    cursor: pointer;
}

#navbar h1 {
    margin-bottom: 1rem;
    color: #615c5c;
}

#navbar h1 i,
footer h1 i {
    color: var(--color1);
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#navbar li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color1);
}

#navbar a {
    text-decoration: none;
    color: var(--color3);
    font-weight: bold;
    transition: 0.5s;
    display: block;
    padding: 0.5rem;
}

#navbar .active {
    color: var(--color1) !important;
}

/* Main */
main {
    min-height: 70vh;
}

/* BANNER */
main .banner {
    display: block;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    max-height: 300px;
    position: relative;
}

.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cccccc48;
}

.fade h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 1em;
    text-align: center;
    max-width: 400px;
    width: 100%;
    text-shadow: 1px 1px #757373;
}

/* ATTRACTION */
.attraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em auto;
    padding: 1em;
}

.attraction h2 {
    margin: 1em;
    text-align: center;
    color: var(--color3);
    font-size: 22px;
    border-bottom: 1px solid var(--color1);
    padding: 0.5em;
}

.card {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid var(--color1);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.card p {
    text-align: center;
    margin: 1em 0;
    font-weight: bold;
    color: var(--color3);
    font-size: 18px;
}

.card img {
    width: 100%;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: var(--color3);
    color: #fff;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1 {
    font-size: 25px;
    margin-bottom: 1em;
}

footer p {
    margin-bottom: 1em;
    font-size: 13px;
}

@media (min-width: 768px) {
    /* Navbar */
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em;
    }

    #navbar h1 {
        font-size: 30px;
    }

    #navbar .bi-three-dots-vertical {
        display: none;
    }

    #navbar ul {
        flex-direction: row;
    }

    #navbar ul li {
        border-bottom: none;
    }

    #navbar ul li a {
        font-size: 19px;
    }

    /* FOOTER */
    footer p {
        font-size: 16px;
    }

    /* BANNER */
    main .banner {
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fade h3 {
        font-size: 30px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 700px;
    }

    /* ATTRACTION */
    .attraction {
        flex-direction: row;
        max-width: 1500px;
        margin: 0 auto;
    }

    .attraction h2 {
        width: 100%;
        font-size: 33px;
    }

    .card {
        width: 28%;
        max-width: 450px;
        margin: 1em;
    }
}
